@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Roboto+Mono&family=Source+Code+Pro&family=Unna:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  height: 100vh;
}

#app {
  height: 100%;
}

.v-center {
  &.h100 {
    height: 100%;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex {
  display: flex;
}

.thick-icon {
  --ionicon-stroke-width: 48px;
}

.preShow {
  opacity: 0;
}

.tooltip {
  &.tooltip-top {
    transform: translateX(-50%) translateY(-100%);

    .arrow {
      bottom: 0;
      top: null;
      transform: translate(-50%,calc(100% - 1px)) rotate(180deg);
    }
  }

  &:not(.tooltip-top) {
    .arrow {
      top: 0;
    }
  }
  position: fixed;
  display: inline-block;
  padding: 5px 12px;
  text-align: center;
  background-color: #151538;
  filter: drop-shadow(0px 0px 4px rgba(21, 21, 56, 0.25));
  border-radius: 3px;
  color: #F8F8FA;
  font-size: 12px;
  white-space: nowrap;
  transform: translateX(-50%);
  z-index: 100;

  .arrow {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #151538;
    position: absolute;
    left: 50%;
    transform: translate(-50%,calc(-100% + 1px));
  }
}

.loadingFill {
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  background-color: #F8F8FA;
}

.loadingFill::before {
  content: '';
  display: block;
  position: absolute;
  left: -150px;
  top: 0;
  height: 100%;
  width: 150px;
  background: linear-gradient(to right, transparent 0%, #f2f2f2 50%, transparent 100%);
  animation: load 1.3s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
}
@keyframes load {
  from {
    left: -150px;
  }

  to {
    left: 100%;
  }
}

.btn {
  font-size: 14px;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  display: inline-block;

  &.btn-small{
    font-size: 13px;
    padding: 7px 10px;
  }

  &.btn-lg{
    font-size: 15px;
    padding: 9px 35px;
    border-radius: 7px;
  }

  &.btn-lg{
    font-size: 15px;
    padding: 9px 35px;
    border-radius: 7px;
  }
}

.btn-success{
  background-color: rgba(#6FCF97,0.17);
  color: #6FCF97;
  border: 1px solid rgba(#6FCF97,0.2);
  transition: filter 0.2s;

  &:hover {
    filter: drop-shadow(0px 0px 5px rgba(#6FCF97, 0.25));
  }

}

.btn-primary {
  background-color: #005FFE;
  color: #fff;
  transition: filter 0.2s;
  border: 2px solid transparent;

  &:hover {
    filter: drop-shadow(0px 0px 5px rgba(0, 95, 254, 0.25));
  }
}

.btn-danger {
  background-color: #EC4747;
  color: #fff;
  transition: filter 0.2s;
  border: 2px solid transparent;

  &:hover {
    filter: drop-shadow(0px 0px 2px #EC4747);
  }
}

.btn-primary-light {
  background-color: #F0F7FF;
  color: #005FFE;
  transition: filter 0.2s;
  border: 2px solid transparent;

  &:hover {
    filter: drop-shadow(0px 0px 2px rgba(0, 95, 254, 0.25));
  }
}

.btn-grey {
  background-color: #fff;
  color: #5F6266;
  border: 2px solid #ECEBED;
  transition: border-color 0.2s;

  &:hover {
    border-color: #ddd;
  }
}

.emoji {
  height: 1em;
  display: inline;
}

.inline-loader {
  height: 1em;
  animation: loadSpin 1s infinite;
  animation-timing-function: linear;
  margin-left: 5px;
  width: 1em;
}
@keyframes loadSpin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.betterIcon {
  position: relative;
  top: 1.5px;
}

.v-100{
  height: 100%;
}

.color-warning, span.color-warning{
  color: #F2C94C;
}

.color-danger,
h1.color-danger {
  color: #EC4747;
}

.error-banner {
  position: fixed;
  left: 50%;
  top: 15px;
  background-color: #EC4747;
  color: #fff;
  padding: 5px 15px;
  font-size: 14px;
  border-radius: 5px;
  transform: translateX(-50%);
  z-index: 50;
  transition: top 0.5s;
  animation: slidedown 0.5s;

  &.success{
    background-color: #6FCF97;
  }

  &.slideup {
    top: -50px;
  }

  .error-banner-close {
    margin-left: 10px;
    cursor: pointer;
    font-size: 16px;
    --ionicon-stroke-width: 40px;
  }
}
@keyframes slidedown {
  from {
    top: -50px;
  }

  to {
    top: 15px;
  }
}

.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #fff;
  box-shadow: 0 0 10px 4px rgba(196, 196, 196, 0.3);
  border-radius: 10px;
  border: 1px solid #ECEBED;
  z-index: 10;
  transition: transform 0.2s, opacity 0.2s;

  animation: dialog-in 0.2s;

  h3{
    color: #151538;
    font-size: 16px;
    margin-bottom: 5px;
  }

  p{
    color: #5F6266;
    font-size: 13px;
  }

  &.shrunk{
    transform: translate(-50%,-50%) scale(0.5);
    opacity: 0;
  }

  .body{
    margin: 30px;
  }

  .buttons{
    margin-left: auto;
    margin: 15px;

    .btn{
      margin-left: 10px;

      &:first-child{
        margin-left: auto;
      }
    }
  }
}

@keyframes dialog-in{
  from{
    transform: translate(-50%,-50%) scale(0.5);
    opacity: 0;
  }
  to{
    transform: translate(-50%,-50%);
    opacity: 1;
  }
}
